# Variáveis de ambiente para o serviço PostgreSQL
POSTGRES_DB=ecommerce_db
POSTGRES_USER=user_db
POSTGRES_PASSWORD=password_db

# Variáveis de ambiente para o serviço da sua aplicação
# (que também se conectam ao banco de dados)
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Variável de ambiente para o servidor 
TIMEZONE=America/Sao_Paulo

# Variáveis de ambiente para configuração do JWT
JWT_SECRET=sua_jwt_secret_key
TOKEN_ISSUER=ecommerce
TOKEN_EXPIRATION_HOURS=2