# App Configuration
TIMEZONE=America/Sao_Paulo

# Database (PostgreSQL - Ecommerce)
POSTGRES_DB=ecommerce_db
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Cache (Redis - Ecommerce)
REDIS_PASSWORD=redis_password
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_TIMEOUT=720 # Tempo em minutos para a expiração dos dados

# Banco de dados MongoDB (Serviço de Email)
MONGO_DB=email_db
MONGO_USER=mongo_user
MONGO_PASSWORD=mongo_password
MONGO_HOST=mongo
MONGO_PORT=27017

# RabbitMQ
RABBITMQ_USER=rabbitmq_user
RABBITMQ_PASSWORD=rabbitmq_password
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_DASHBOARD_PORT=15672

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu_email@gmail.com
SMTP_PASSWORD= # senha de app do google

# Security (JWT - Ecommerce)
JWT_SECRET=jwt_secret_key # Defina uma chave segura
TOKEN_ISSUER=ecommerce
TOKEN_EXPIRATION_HOURS=2 # Tempo em horas que o token ficará ativo

# CORS / Infrastructure
FRONT_ENDPOINTS=http://127.0.0.1:5500;http://localhost:5500