<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home - Ecommerce</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <nav th:replace="~{navbar :: navbar}"></nav>

    <div class="container mt-5" style="padding-top: 80px;">
        <div class="row">
            <div class="col-md-12">
                <h1>Bem-vindo ao Ecommerce</h1>
                <p>Esta é a página inicial da nossa aplicação de e-commerce.</p>

                <!-- Exibir mensagens de sucesso ou erro -->
                <div th:if="${success}" class="alert alert-success" role="alert">
                    <span th:text="${success}"></span>
                </div>
                <div th:if="${error}" class="alert alert-danger" role="alert">
                    <span th:text="${error}"></span>
                </div>

                <div sec:authorize="!isAuthenticated()">
                    <p>Para acessar mais funcionalidades, faça o login.</p>
                    <a href="/login" class="btn btn-primary">Fazer Login</a>
                </div>

                <!-- Carrossel de Categorias -->
                <div class="mt-5" sec:authorize="isAuthenticated()">
                    <h3>Categorias</h3>
                    <div id="categoriesCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="d-flex justify-content-center">
                                    <div th:each="category : ${categories.content}" class="mx-2">
                                        <div class="card text-center" style="width: 200px;">
                                            <div class="card-body">
                                                <h5 class="card-title" th:text="${category.name}">Nome da Categoria</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#categoriesCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#categoriesCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

                <div class="mt-35" sec:authorize="isAuthenticated()">
                    <!-- Exibição dos Produtos -->
                    <div class="mt-5">
                        <h2>Produtos em Destaque</h2>
                        <div class="row">
                            <div class="col-md-4 mb-4" th:each="product : ${products.content}">
                                <div class="card h-100 position-relative">
                                    <form th:action="@{/favorites/{productId}(productId=${product.id})}" method="post" class="position-absolute top-0 end-0 m-2">
                                        <button type="submit" class="btn btn-outline-danger favorite-overlay-btn">
                                            <i th:class="${favoriteIds.contains(product.id)} ? 'fas fa-heart' : 'far fa-heart'"></i>
                                        </button>
                                    </form>

                                    <img src="https://super.abril.com.br/wp-content/uploads/2018/05/filhotes-de-cachorro-alcanc3a7am-o-c3a1pice-de-fofura-com-8-semanas1.png?quality=70&strip=all&resize=420" class="card-img-top" alt="Imagem do Produto">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title fw-bold" th:text="${product.name}">Nome do Produto</h5>
                                        <p class="card-text" th:text="${product.description}">Descrição do produto</p>
                                        <p class="card-text fw-bold">R$ <span th:text="${#numbers.formatDecimal(product.price, 1, 2)}">0.00</span></p>
                                        <div class="d-flex justify-content-between align-items-center mt-auto">
                                            <form th:action="@{/cart/add}" method="post" class="me-2">
                                                <input type="hidden" th:name="productId" th:value="${product.id}">
                                                <input type="hidden" name="quantity" value="1">
                                                <button type="submit" class="btn btn-primary">Adicionar ao Carrinho</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
<footer th:replace="~{footer :: footer}"></footer>
</html>
